/**
 * CSS for both Frontend+Backend.
 */
 .entry-content .wp-block-swrdlyts-tile {
  max-width: unset;
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
 }

 .wp-block-swrdlyts-tile {
   margin-bottom: 3rem; 
   padding: 1rem 1.5em;

   &[data-invert=true] {
    background: #f1f5f7;
   }

   .imageBox {
    max-width: 100%;
    min-height: 300px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    position: relative;
   }

   .textBoxHeading {
     margin-top: 2rem;
   }

   @media screen and (min-width: 800px){
      padding: 4rem 1.5em;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      &[data-invert=true] {
        flex-direction: row-reverse;
      }

      .imageBox {
        width: 40%
      }
      .textBox {
        width: 60%;
      }

      .textBoxHeading, .textBoxContent {
        width: 85%;
        margin-left: auto;
        margin-right: auto;
      }
   }
 }
//  .wp-block-swrdlyts-tile {
// 	// display: grid;
// 	// grid-template-columns: 1fr 1fr;
// 	// grid-auto-flow: row;
// 	// grid-gap: 0;
//   display: flex;
//   // align-items: center;
//   // justify-content: space-evenly

// 	max-width: 100%;
// 	> div {
// 		flex:1;
// 	}
// 	> div.imageBox {
// 		max-width: 100%;
// 		background-size: contain;
// 		background-repeat: no-repeat;
// 		background-position: center;
// 		text-align: center;
// 		position: relative;
// 		min-height: 300px;
// 		* { z-index: 2; }
// 	}
// 	> div.textBox {
//     margin: 15vh 0;
//     .textBoxHeading {
//       margin-top: 0;
//     }
// 		.textBoxHeading, .textBoxContent {
// 			width: 70%;
// 			max-width: 400px;
// 			margin-left: auto;
// 			margin-right: auto;
// 		}
// 	}
// }

// @media screen and (min-width: 800px) {
// 	.wp-block-swrdlyts-tile {
// 		// the ol switcher'o
// 		&[data-invert=true] {
// 			// > div.imageBox {
// 				// grid-column-start: 2;
// 				// grid-row-start: 1;
// 			// }
// 			// > div.textBox {
// 				// grid-column-start: 1;
// 				// grid-row-start: 1;
// 			// }
// 			flex-direction: row-reverse;
// 		}
// 	}
// }

// @media screen and (max-width: 800px) {
// 	.wp-block-swrdlyts-tile {
// 		//grid-template-columns: 1fr;
// 		flex-direction: column;
// 		> div.imageBox {
// 			// min-height: 50vh;
// 		}
// 	}
// }

// @media screen and (max-width: 500px) {
// 	.wp-block-swrdlyts-tile {
// 		> div.imageBox {
// 			// min-height: 300px;
// 		}
// 		> div.textBox {
// 			margin: 1rem 0;
// 			.textBoxHeading, .textBoxContent {
// 				width: 80%;
// 			}
// 		}
// 	}
// }
